<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872950012239-o3d4rm0hvhk02v671urrocafe7nhsi89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872950012239-o3d4rm0hvhk02v671urrocafe7nhsi89</string>
	<key>API_KEY</key>
	<string>AIzaSyD3VHZqjIZ2_mBFRWCRLdxZAl4MPg681JM</string>
	<key>GCM_SENDER_ID</key>
	<string>872950012239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootless.treePlantationMob</string>
	<key>PROJECT_ID</key>
	<string>tree-plantation-692f8</string>
	<key>STORAGE_BUCKET</key>
	<string>tree-plantation-692f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872950012239:ios:6887cf0a78b4f4a6ac8d3a</string>
</dict>
</plist>